<h1>Question Details</h1>

{% if question %}
<p>Question Text: {{ question.question_text }}</p>
<p>Event: {{ question.on_event }}<p>
<p>Publication Date: {{ question.pub_date }}<p>
{% else %}
<p>Question Error</p>
{% endif %}

<p><a href="{% url 'events:editquestion' pk=question.id %}">Edit Question</a></p>

{% if choice_list %}
<p>Choices: </p>
    <ul>
    {% for c in choice_list %}
        <li>{{ c.choice_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No choices.</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<p><a href="{% url "events:addchoice" pk=question.id %}">Add Choice</a></p>

<p><a href="{% url 'events:index' %}">Back to Event List</a></p>
