<!DOCTYPE html>
<html lang="en">
<head>
{% include "events/head.html" %}
</head>
<body>
 {% include "boardgames/navbar.html" %}
  <!-- <h1> Gamenight </h1> --><!--
  <a href="{% url 'authentication:signup' %}">Sign up</a>
  <a href="{% url 'authentication:login' %}">Log In</a>
  <p>
  <a href="{% url 'boardgames:index' %}">Board Games</a>
</p>
<p>
  <a href="{% url 'events:index' %}">Event Index</a>
</p> -->


  {% include "home/sidebar.html" %}
  {% include "events/public_events.html" %}
	{% include "home/rightsidebar.html" %}
</body>
</html>
