<!--{% if user.is_authenticated %}-->

<div class="container col-sm-4 col-md-3 right-sidebar">   
    <div class="row">
            <nav class="nav-right-sidebar">
                <div class="upcoming_events col-md-12">
                    <div class="panel panel-default">
                        <div class="upcoming_events_heading panel-heading col-md-12">
                            <h7>Upcoming Events</h7>
                        </div>
                        <div class="upcoming_events_body panel panel-default panel-body col-md-12">
							{% for event in events %}
								{% if forloop.counter|divisibleby:2 %}
									<div class="upcoming_events_even">
									<a class="upcoming_events_a" href="{% url 'events:detail' event.id %}">
										<b>{{event.title}}</b>
										<br>
										{{event.event_date}},
										{{event.location}}
										<br>
										<br>
										</a>
									</div>
								{% else %}
									<div class="upcoming_events_odd">
									<a class="upcoming_events_a" href="{% url 'events:detail' event.id %}">
										<b>{{event.title}}</b>
										<br>
										{{event.event_date}},
										{{event.location}}
										<br>
										<br>
									</div>
								{% endif %}
							{% endfor %}

                        </div>
                    </div>
                </div>
            </nav>
    </div>
</div>
<!--{% else %}-->
<!--{% endif %}-->