<div class="container col-sm-3 col-md-2 sidebar">   
    <div class="row">
        <div class="">
            <nav class="nav-sidebar">
                <ul class="nav left-sidebar">
                <!--{% if user.is_authenticated %}-->
                    <li class="welcome-user">Welcome {{user.first_name}}</li>
                    <li class="sidebar-nav-divider"></li>
                    <li class="profile"><a href="{% url 'authentication:profile' user.id %}">Profile</a></li>
                    <li class="event-index"><a href="{% url 'events:index'%}">Event Index</a></li>
                    <li class="event-create"><a href="{% url 'events:create_event'%}">Create Event</a></li>
                    <li class="event-public"><a href="#">Public Events</a></li>
                    <li class="boardgames"><a href="{% url 'boardgames:index'%}">Boardgames</a></li>
                    <li class="favourites-list"><a href="#">Favourites</a></li>
                    <!-- <li class="faq"><a href="#">FAQ</a></li> -->
                    <li class="nav-divider"></li>
                    <li class="logout"><a href="{% url 'authentication:logout'%}">Logout</a></li>
                <!--{% else %}-->
                    <li class="welcome-guest">Welcome Guest!</li>
                    <li class="sidebar-nav-divider"></li> 
                    <li class="signup"><a href="{% url 'authentication:signup'%}">Sign Up</a></li>
                    <li class="boardgames"><a href="{% url 'boardgames:index'%}">Boardgames</a></li>
                    <li class="event-public"><a href="#">Public Events</a></li> <!--In case we want to make a enter address to get close by public events-->
                    <!-- <li class="faq"><a href="#">FAQ</a></li> -->
                    <li class="sidebar-nav-divider"></li>
                    <li class="login"><a href="{% url 'authentication:login'%}">Sign in</a></li>   
                <!--{% endif %}-->
                </ul>
            </nav>
        </div>
    </div>
</div>