<!-- removed extends from base-->
<!DOCTYPE html>
<html lang="en">
<head>
 {% include "authentication/head.html" %}
</head>
<body>
	<div class="login_header col-md-6 col-md-offset-3">
		<h2>GameNight Login</h2>
	</div>
	<div class="login">
		<div class="panel panel-default col-md-6 col-md-offset-3">
			<div class="login_body panel-body">
				<div class="login_body_info">
					{% block content %}
					<form method="post">
						{% csrf_token %}
						{{ form.as_p }}
						<button type="submit">Log In </button>
					</form>
					{% endblock %}
				</div>
			</div>
		</div>
	</div>
	<div class="signup_now col-md-6 col-md-offset-3 alert alert-dismissible alert-info">
		<p>Join an awesome and growing community now! <a href="{% url 'authentication:signup' %}" class="login_signup"> Sign Up!</a></p>
	</div>
	<br>
	<br>
	<div class="misc_info col-md-6 col-md-offset-3">
		<h4>Over 5 users!</h4>
	</div>
	<div class="misc_info2 col-md-6 col-md-offset-3">
		<h4>Create and find events with the most popular boardgames <a href="{% url 'boardgames:index' %}">Look Here!</a></h4>
	</div>
</body>