{% block content %}
  {% if profile %}
    <html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>User Profile</title>
    </head>
    <body>
      <h1>User Profile TRUE</h1>
    </body>
    </html>
  {% else %}
    <html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>User Profile</title>
    </head>
    <body>
      <h1>User Profile ELSE</h1>
    </body>
    </html>
  {% endif %}
{% endblock %}
