<!--{% if user.is_authenticated %}-->
<div class="container col-sm-3 col-md-2 right-sidebar">   
    <div class="row">
        <div class="">
            <nav class="nav-right-sidebar  col-xs-12 col-md-12">
                <div class="upcoming_events">
                    <div class="panel panel-default">
                        <div class="upcoming_events_heading panel-heading col-md-12">
                            <h7>Upcoming Events</h7>
                        </div>
                        <div class="upcoming_events_body panel panel-default panel-body col-md-12">
                            <div class="upcoming_events_body_info col-md-3">
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
<!--{% else %}-->
<!--{% endif %}-->