<div class='attending-users col-xs-16 col-md-16'>
	<div class="public_events_body panel panel-default panel-body col-md-14">
{% if is_organizer == True %}
<!--   <div class="add-attendee-form col-md-2 col-md-offset-4"> -->
    {% if add_form %}
      <form class="add-attendee" action="{% url 'events:add_attendee' event.id %}" method="POST" name="form" id="add-attendee">      
        {{add_form}}<button class="add-attendee-button btn btn-primary btn-md">Add</button>
        {% csrf_token %}
      </form>
      <br>
    {% endif %}
<!--   </div> -->
<!--   <div class="attendees col-md-3"> -->
  <h3>Attending Users</h3>
  {% for attendee in attendees %}
      {% if attendee.user != request.user %}
        <form class="remove-attendee" action="{% url 'events:remove_attendee' event.id attendee.user.username%}" method="POST" id="remove-attendee">
          <label>{{attendee.user.username}}</label>
          <button class="btn btn-primary btn-xs" >Remove</button>
          {% csrf_token %}
        </form>
      {% else %}
        <label>{{attendee.user.username}}</label>
      {% endif %}
  {% endfor %}
<!--   </div> -->
{% else %}
  <h3>Attending Users</h3>
  {% for attendee in attendees %}
    <li>{{attendee.user.username}}</li>
  {% endfor %}
{% endif %}
</div>
</div>

