<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "events/head.html" %}

  </head>
  <body>
    {% include "boardgames/navbar.html" %}
      <!--col-sm-3 col-md-2 col-md-offset-1 sidebar -->
      {% include "home/sidebar.html" %}
 <div class="public_events col-xs-12 col-md-5">
		<div class="panel panel-primary">
			<div class="public_events_heading panel-heading col-md-12">
				<h2>Create Choice</h2>

			</div>
			<div class="public_events_body panel panel-default panel-body col-md-12">
			  <form method="POST">
				  {% csrf_token %}
				  {{ form.as_p }}
				  <button type="submit">Submit</button>
				</form>				    
			</div>
		</div>
	</div>
    {% include "events/footer.html" %}
  </body>
</html>
