<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "events/head.html" %}
  </head>
<body>
{% include "boardgames/navbar.html" %}
{% include "home/sidebar.html" %}
{% if event %}
<div class="col-md-7 col-sm-9 col-xs-12">
<h1 class="mainheading">Recent Events List</h1>
    <ul>
    {% for e in event %}
        <li class="listitem"><a href="{% url 'events:detail' e.id %}">{{ e }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No events are available.</p>
{% endif %}
<a href="{% url 'events:create' %}">Create Event</a>
</div>
{% include "events/footer.html" %}
</body>
