
  <!-- <h1> Gamenight </h1> --><!-- 
  <a href="{% url 'authentication:signup' %}">Sign up</a>
  <a href="{% url 'authentication:login' %}">Log In</a>
  <p>
  <a href="{% url 'boardgames:index' %}">Board Games</a>
</p>
<p>
  <a href="{% url 'events:index' %}">Event Index</a>
</p> -->
	<div class="public_events col-sm-10 col-md-5">
		<div class="panel panel-primary">
			<div class="public_events_heading panel-heading col-md-12">
				<h2>Public Events</h2>
				<form class="event_search" role="search" method="get" action="{% url 'events:search_event' %}">
        <div class="input-group">
          {{ search_p.qq }}
            <button type="submit" class="search_button_public btn btn-primary">Submit</button>
        </div>
      </form>
			</div>
			<div class="public_events_body panel panel-default panel-body col-md-12">
				{% for event in events %}
					{% if forloop.counter|divisibleby:2 %}
						<div class="public_events_even">
						<a class="public_events_a" href="{% url 'events:detail' event.id %}">
							<b>{{event.title}}</b>
							<br>
							{{event.event_date}},
							{{event.location}}
							<br>
							<br>
							</a>
						</div>
					{% else %}
						<div class="public_events_odd">
						<a class="public_events_a" href="{% url 'events:detail' event.id %}">
							<b>{{event.title}}</b>
							<br>
							{{event.event_date}},
							{{event.location}}
							<br>
							<br>
						</div>
					{% endif %}
				{% endfor %}
				<div class="col-xs-12 col-md-offset-1">
			        {% if events.has_previous %}
			            <a href="?page={{ events.previous_page_number }}" class="boardgames_prev_page btn btn-primary col-md-2">previous</a>
			        {% else %}
			        	<span class="col-md-2"></span>
			        {% endif %}
			        <span class="current btn btn-primary col-md-3">
			            Page {{ events.number }} of {{ events.paginator.num_pages }}.
			        </span>
			        {% if events.has_next %}
			            <a href="?page={{ events.next_page_number }}" class="boardgames_next_page btn btn-primary col-md-2">next</a>
			        {% endif %}
				</div>
			</div>
		</div>
	</div>
