<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "boardgames/head.html" %}
  </head>
<body>
	{% include "boardgames/navbar.html" %}
	<div class="col-xs-12 col-md-7 col-md-offset-2">
		<div class="boardgames panel panel-default panel-chart">
			<div class="boardgames_heading panel-heading col-md-12">
			<h4 class="col-md-5"> Search Results</h4>
			</div>
			{% if boardgames %}
			<div class="boardgames_body panel panel-body col-md-12">
				{% for boardgame in boardgames %}
				<!-- <div class="col-xs-12 col-md-7 col-md-offset-2"> -->
					<div class="boardgame panel panel-primary">
						<div class="boardgame_heading panel-heading col-md-12">
							<h3 style="color:white" class="boardgame_title panel-title"> <span class="boardgame_title_name col-md-10">{{boardgame.name}}</span><span class="boardgame_title_star glyphicon glyphicon-star col-md-1"></span><span class="boardgame_title_bayes col-md-1">{{boardgame.bgg_bayesrating|floatformat:2}}</span></h3>
						</div>
						<div class="boardgame_body panel-body" data-counter="{{ forloop.counter}}">
						<table>
							<tr>
								{% if boardgame.img_link %}
									<td><span class="col-md-3"><a href="{% url 'boardgames:detail' boardgame.id boardgame.name|slugify %}" class="boardgame_detail_link"><img src="{{boardgame.img_link}}" alt="{{boardgame.name}}" height="100" width="100"></a></span></td>
								{% else %}
									{% load static %}
									<td><span class="col-md-9"><a href="{% url 'boardgames:detail' boardgame.id boardgame.name|slugify %}" class="boardgame_detail_link"><img src="{% static 'boardgames/images/placeholder.png' %}" alt="placeholder" height="100" width="100"></a></span></td>
								{% endif %}
					    		<td><span class="boardgame_description">{{boardgame.description}}</span></td>
				    		</tr>
			    		</table>
			    		</div>
					</div>
				<!-- </div> -->
				{% endfor %}
				<!--If Pages Start Working-->
			<div class="col-xs-12 col-md-offset-1">
					        {% if boardgames.has_previous %}
					            <a href="?page={{ boardgames.previous_page_number }}?q={{query}}" class="boardgames_prev_page btn btn-primary col-md-2">previous</a>
					        {% else %}
					        	<span class="col-md-2"></span>
					        {% endif %}
					        <span class="current btn btn-primary col-md-2">
					            Page {{ boardgames.number }} of {{ boardgames.paginator.num_pages }}.
					        </span>
					        {% if boardgames.has_next %}
					            <a href="?page={{ boardgames.next_page_number }}?q={{query}}" class="boardgames_next_page btn btn-primary col-md-2">next</a>
					        {% endif %}
				</div>
	        {% else %}
	        <div class="col-md-12 text-center">
	          <h1>Your search returned no results</h1>
	        </div>
	        {% endif %}
      		</div>
		</div>
	</div>
{% include "boardgames/footer.html" %}
</body>